.x {
    background-color: #3e94f0;
    color: white;
}

.w-100 {
    width: 100%;
}

a.x {
    color: inherit;
}

.w {
    padding-left: 150px;
}

.customFont {
    font-size: 16px;
    color: rgb(6, 6, 29);
}

/* backgrund color */
.bg-lightYelllow
{
    background-color: rgb(211, 198, 124);
}
.bg-lightBlue
{
    background-color: rgb(73, 126, 196);
}
.bg-lightpurple
{
    background-color: rgb(214, 141, 216);
}
.bg-darkBlue{
    background-color: rgb(5, 2, 71);
}

/* text color */
.whiteText{
    color: white;
}


/* Icons styling */
.panel_icon{
    position: relative;
    top: 2px;
}

/* buttons style */
.registerLoginButton{
    padding: 4px 16px;
    background-color: floralwhite;
    color: black;
    border-radius: 20px;
}
