.x {
    background-color: #3e94f0;
    color: white;
}

.w-100 {
    width: 100%;
}

a.x {
    color: inherit;
}

.w {
    padding-left: 150px;
}

.customFont {
    font-size: 16px;
    color: rgb(6, 6, 29);
}

/* backgrund color */
.bg-lightYelllow
{
    background-color: rgb(211, 198, 124);
}
.bg-lightBlue
{
    background-color: rgb(73, 126, 196);
}
.bg-lightpurple
{
    background-color: rgb(214, 141, 216);
}
.bg-darkBlue{
    background-color: rgb(5, 2, 71);
}
.bg-lightPurple{
    background-color: #d8b9c3;
}

.bg-darkBlue{
    background-color: #400082;
}
.bg-lightGray{
    background-color: #F5F5F5;
}
/* text color */
.whiteText{
    color: white;
}

.floralwhiteText{
    color: floralwhite;
}
/* Icons styling */
.panel_icon{
    position: relative;
    top: 2px;
}

/* buttons style */
.registerLoginButton{
    padding: 4px 16px;
    background-color: floralwhite;
    color: black;
    border-radius: 20px;
}



/* padding */
.sectionPadding {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* START starrating  */
.zz{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}
.zz > input {display: none;}  /* Remove radio buttons */

.zz > label:before {
  content: "\f005"; /* Star */
  /* margin: 2px; */
  margin-top: 2px;
  margin-right: 3px;
  font-size: 1em;
  font-family: FontAwesome;
  /* display: inline-block; */
}

.zz > label
{
  color: #222222; /* Start color when not clicked */
}

.zz > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.zz > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
/* END starrating  */

.starrating
{
    position: relative;
    display: inline-block;

}

.star-inner
{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    /* overflow: hidden; */

}

.star-inner > input {display: none;}
/* .star-inner > input {display: none;}  Remove radio buttons */
.star-inner> label:before {
    content: "\f005  \f005  \f005  \f005  \f005"; /* Star */
    color: #ffca08 ;
    margin-top: 2px;
    margin-right: 3px;
    font-size: 1em;
    font-family: FontAwesome;
  }

/*-------- shopping cart icon -----------*/
/* .fa-stack{
    font-size:120%;
} */
.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:30%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  color:#D6236D;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}
.fa-circle {
  color:#D6236D;
}

/* .red-cart {
	color: #D6236D; background:white;
} */
/* ----------end shopping cart --------------- */
#fileAdd2Cart:hover{
    background-color: darkgreen;
}

#heart{
    font-size: 20px;
}


/* shopping cart view */
.fa-file-export
{
    color: darkgray;
}

.comment-header{
    padding: 8px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.466);
}

.comment-body{
    padding: 4px;
    margin: 10px 5px;
}

.comment-footer{
    border-top: 1px solid rgba(211, 211, 211, 0.247);
    padding: 2px 4px;
}

.editComment, .editReplyComment{
    cursor: pointer;
}
.editComment:hover, .deleteReplyComment:hover{
    background-color: lightgray;
}
.deleteComment, .deleteReplyComment{
    cursor: pointer;
}
.deleteComment:hover, .deleteReplyComment:hover{
    background-color: lightgray;
}

.replyBtn{
    background-color: #cb95aa;
    font-size:11px;
    border-radius:3px;
    cursor: pointer;
}

.comment-child{
    background-color: rgba(211, 211, 211, 0.432);
    margin-right: 40px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid rgba(117, 115, 115, 0.11);
    border-radius: 5px;
}
.replyComment-header{
    padding: 2px 4px;
    border-bottom: 1px solid rgba(185, 182, 182, 0.219);
}

.replyComment-footer{
    border-top: 1px solid rgba(211, 211, 211, 0.452);
    min-height: 10px;
}
.dropup .dropdown-toggle::after {
    display:none;
}


/* article badge */
.articleBadge{
    font-size:12px;
    background-color:lightgray;
    border-radius:20px;
    padding:5px 8px;
}
