
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;

    src: url('/fonts/IRANSansWeb.eot');
    src: url('/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/fonts/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('/fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/fonts/IRANSansWeb.ttf') format('truetype');
}

body
{
    direction: rtl;
    text-align: right !important;
    font-family: 'IRANSans', sans-serif;
    position: relative;
    font-weight: 400;
    font-size: 15px;
}

/* ckeditor 5 ---> changing height of editor */
.ck-editor__editable_inline {
    min-height: 200px;
}

/* custom badge style */
.customBadge{

    /* background-color: rgb(219, 81, 111);
    border-radius: 20px;
    padding: 1px 10px 1px 10px;
    font-size:10px;
    margin: 1px;
    text-align: center;
    vertical-align: center;
    color: white; */

    height: 20px;
    width: 20px;
    background-color: rgb(219, 81, 111);
    border-radius: 50%;
    /* display: inline-block; */
    text-align: center;
    padding:1px 8px;
    color: white;
    font-size: 10px;
    font-weight: bolder;
    vertical-align: center;
    margin: 4px 0px;

}

.custom-control-label::before{
    top: 5px !important;
    /* right: 40px !important; */
}



